.options {
    height: 50px;
    padding: 10px;
    background: #181724;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* justify-content: flex-start; */
}

.options ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    justify-content: space-between;
    list-style: none;
}

.options Button {
    background-color: #1F1E2E;
    border-radius: 10px;
    opacity: 75%;
    margin: 5px 15px;
    padding: 10px 20px;
    font-size: 0.75em;
    font-weight: bolder;
    text-align: center;
}

.options Button:hover{
    background-color: #28293D;
    color: cyan;
}

.options_inline {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

.options_inline label {
    margin: 5px 10px 5px 0;
}

.options_inline input {
    width: 80px;
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}

.options_inline select {
    width: 100%;
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
}