.grid {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  max-width: 800px;
  margin-top: 3rem;
}

.rule {
  margin: 1rem;
  flex-basis: 45%;
  padding: 1.5rem;
  text-align: left;
  color: inherit;
  text-decoration: none;
  border: 1px solid #eaeaea;
  border-radius: 10px;
  transition: color 0.15s ease, border-color 0.15s ease;
}

.rule:hover,
.rule:focus,
.rule:active {
  color: #0070f3;
  border-color: #0070f3;
}

.rule h3 {
  margin: 0 0 1rem 0;
  font-size: 1.5rem;
}

.rule p {
  margin: 0;
  font-size: 1.25rem;
  line-height: 1.5;
}

.logo {
  height: 1em;
}

@media (max-width: 600px) {
  .grid {
    width: 100%;
    flex-direction: column;
  }
}

.add_form {
  margin-bottom: 40px;
}

.form_control {
  margin: 20px 0;
}

.form_label {
  display: block;
}

.form_input {
  display: inline-block;
  width: 30%;
  height: 20px;
  margin: 5px;
  padding: 3px 7px;
  font-size: 17px;
}

.form_check {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.form_check_label {
  flex: 1;
}

.form_check_input {
  flex: 2;
  height: 20px;
}

.btn {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 15px;
  font-family: inherit;
}

.btn:focus {
  outline: none;
}

.btn:active {
  transform: scale(0.98);
}

.btn_block {
  display: block;
  width: 100%;
}
